@tailwind base;
@layer base {
  h1 {
      @apply text-2xl;
      @apply font-black;
  }
  h2 {
      @apply text-xl;
      @apply font-black;
  }
  h3 {
      @apply text-lg;
      @apply font-black;
  }
  a {
      @apply text-blue-600;
      @apply text-lg;
  }
  ol,
  ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  ,
  p {
      @apply text-lg;
  }
}
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: rgb(20, 20, 20);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
